.common-block-title {
  position: relative;
  margin: 0;
  padding-left: 20px;
  font-weight: 700;
  font-size: 22px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 16px;
    background-color: $accent-color;
  }
}
