.input {
  padding: 10px 16px;
  width: 100%;
  font: inherit;
  font-size: rem(16);
  line-height: normal;
  background: #ffffff;
  border: 1px solid $light-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;

  &::placeholder {
    color: $muted-color;
    opacity: 0.8;
  }

  &:hover {
    background-color: #fafafa;
  }

  &:focus {
    background-color: #f7f7f7;
  }

  &.error {
    border-color: $danger-color;
  }

  &--multiline {
    max-height: 150px;
    resize: vertical;
  }
}
