.main-header {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  background-color: #1e476f;
}

.main-header__inner {
  @include make-container();

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  margin-right: $gutter;
}

.main-header__toggle {
  @include mq-min(768px) {
    display: none;
  }
}

.main-header__phrase {
  margin: 0;
  margin-left: auto;
  font-weight: 600;
  text-transform: uppercase;

  @include mq-max(767px) {
    display: none;
  }
}

.main-header__actions {
  margin-left: $gutter;
}
