.main-header {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: #1e476f;
}

.main-header__inner {
  @include make-container();

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  margin-right: $gutter;
  max-width: 30%;

  @include mq-max(767px) {
  }
}

.main-header__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq-min(992px) {
    display: none;
  }
}

.main-header__phrase {
  margin: 0;
  margin-left: auto;
  font-weight: 500;
  text-transform: uppercase;

  @include mq-max(991px) {
    display: none;
  }
  @include mq-min(1080px) {
    font-weight: 600;
    font-size: rem(18);
  }
}

.main-header__actions {
  margin-left: $gutter;
}
