.main-layout {
  @include make-container();


  @include mq-min(992px) {
    display: flex;
    padding-top: $gutter;
  }
}

.main-layout__main {
  flex-grow: 1;
}

.main-layout__sidebar {
  width: 20%;
  min-width: 270px;
  margin-left: $gutter;
  flex-shrink: 0;
}
