.top-news {
  padding-top: $gutter;
}

.top-news__inner {
  @include make-container();

  display: flex;
}

.top-news__carousel {
  width: 65%;
  margin-right: $gutter;;
  flex-shrink: 0;
}

.top-news__items {
  flex-grow: 1;
}
