.top-news {
  padding-top: $gutter;
}

.top-news__inner {
  @include make-container();

  display: flex;
}

.top-news__carousel {
  @include clear-list();

  flex-grow: 1;
}

.top-news__items {
  @include clear-list();

  min-width: 370px;
  margin-left: $gutter;
  margin-bottom: -$gutter;
  flex-shrink: 0;
}
