.user-list {
  @include clear-list();

  display: flex;
  align-items: center;
}

.user-list__item {
}

.user-list__button {
  // font-size: 0;
}

.user-list__icon {
  display: block;
  border-radius: 50%;
  background: $accent-color;
  fill: $accent-color;
}
